<div class="center jumbotron">
  <h1>Bem vindo ao Minhas Receitas App</h1>
  
  <h2>
    Este é o site desenvolvido durante o curso Ruby on Rails na Udemy
  </h2>
  
  <%= link_to "Cadastre já!", "", class: "btn btn-lg btn-success" %>
  
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      Veja as receitas como usuário convidado
    </h3>
    <h2 class="left"> Explore e veja recitas como visitante and cadastre-se depois</h2>
    <p><%= link_to "Explore Lista de Receitas", "", class: "btn btn-warning btn-snall" %></p>
  </div>
   <div class="col-lg-4">
    <h3 class="midrow">
      Veja as receitas como usuário convidado
    </h3>
    <h2 class="left"> Explore e veja recitas como visitante and cadastre-se depois</h2>
    <p><%= link_to "Explore Lista de Receitas", "", class: "btn btn-warning btn-snall" %></p>
  </div>
   <div class="col-lg-4">
    <h3 class="midrow">
      Veja as receitas como usuário convidado
    </h3>
    <h2 class="left"> Explore e veja recitas como visitante and cadastre-se depois</h2>
    <p><%= link_to "Explore Lista de Receitas", "", class: "btn btn-warning btn-snall" %></p>
  </div>
</div>